@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Open+Sans:wght@300;400&family=Yeseva+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Safari 15 gray border bug fix */
/* https://nextjs.org/docs/api-reference/next/image */
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading="lazy"] {
        clip-path: inset(0.6px)
    }
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, .04);
}

.list-pushed {
    margin-left: 1.125rem;
}

.button {
    @apply relative inline-flex;
    @apply text-base font-medium leading-normal rounded-full;
    @apply tracking-wider font-medium;
    @apply transition-colors duration-300;
    @apply border-2;

}

.button-big {
    @apply py-2 px-6;
}

.button-primary {
    @apply bg-white text-black border-white;
    @apply mouse-hover:text-white mouse-hover:bg-black mouse-hover:border-white/20;
}

.button-secondary {
    @apply bg-white text-black border-black;
    @apply mouse-hover:bg-black mouse-hover:text-white;
}