@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Open+Sans:wght@300;400&family=Yeseva+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Safari 15 gray border bug fix */
/* https://nextjs.org/docs/api-reference/next/image */
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading="lazy"] {
        clip-path: inset(0.6px)
    }
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, .04);
}

.list-pushed {
    margin-left: 1.125rem;
}

.button {
    @apply relative inline-flex;
    @apply text-base font-medium leading-normal;
    @apply tracking-wider font-medium;
    @apply transition-colors duration-300;

}

.button-fill {
    @apply absolute top-0 left-0;
    @apply w-full h-full;
    @apply rounded-full;
    @apply bg-red-600;
    @apply border-2;
}

.button-big {
    @apply py-3 px-7;
}

.button-primary {
    /*@apply mouse-hover:text-white mouse-hover:bg-black mouse-hover:border-white/20;*/
    @apply text-black;
}

.button-primary .button-fill {
    @apply bg-white border-white;
}

.button-secondary {
    /*@apply bg-white text-black border-black;*/
    /*@apply mouse-hover:bg-black mouse-hover:text-white;*/
    @apply text-black;
}

.button-secondary .button-fill {
    @apply bg-white border-black;
}